<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>

<body>

<nav th:fragment="navbar"
     class="top-navbar">

    <div class="d-flex justify-content-between align-items-center h-100 px-4">

        <div>

            <h4 class="fw-bold mb-0">
                Medflow
            </h4>

            <small class="text-muted">
                Hospital Management System
            </small>

        </div>

        <div class="d-flex align-items-center gap-3">

            <div class="text-end">

                <small class="text-muted">
                    Welcome
                </small>

                <br>

                <strong sec:authentication="name"></strong>

            </div>

            <a th:href="@{/logout}"
               class="btn btn-danger">

                <i class="bi bi-box-arrow-right"></i>

                Logout

            </a>

        </div>

    </div>

</nav>

</body>
</html>