<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="sidebar"
     class="col-md-2 bg-dark text-white min-vh-100 p-0">

    <div class="p-3">

        <h4 class="text-center mb-4">
            MedFlow
        </h4>

        <hr>

        <ul class="nav nav-pills flex-column gap-2">

            <li class="nav-item">
                <a th:href="@{/admin/dashboard}"
                   class="nav-link text-white">
                    <i class="bi bi-speedometer2"></i>
                    Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a th:href="@{/admin/users}"
                   class="nav-link text-white">
                    <i class="bi bi-people-fill"></i>
                    User Management
                </a>
            </li>

            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-person-vcard"></i> Patients
                </a>
            </li>

            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-calendar-event"></i> Appointments
                </a>
            </li>

            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-capsule"></i> Pharmacy
                </a>
            </li>

            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-eyedropper"></i> Laboratory
                </a>
            </li>

            <li class="nav-item mt-5">
                <a th:href="@{/logout}" class="nav-link text-danger">
                    <i class="bi bi-box-arrow-right"></i> Logout
                </a>
            </li>

        </ul>

    </div>

</div>

</body>
</html>