<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="sidebar"
     class="col-md-2 bg-dark text-white min-vh-100 p-0">

    <div class="p-3">

        <h4 class="text-center mb-4">
            MedFlow
        </h4>

        <hr>

        <ul class="nav flex-column">

            <li class="nav-item mb-2">
                <a th:href="@{/admin/dashboard}" class="nav-link text-white">
                    <i class="bi bi-speedometer2"></i> Dashboard
                </a>
            </li>

            <li class="nav-item mb-2">
                <a th:href="@{/admin/users}" class="nav-link text-white">
                    <i class="bi bi-people"></i> User Management
                </a>
            </li>

            <li class="nav-item mb-2">
                <a th:href="@{/admin/patients}" class="nav-link text-white">
                    <i class="bi bi-person-vcard"></i> Patients
                </a>
            </li>

            <li class="nav-item mb-2">
                <a th:href="@{/admin/doctors}" class="nav-link text-white">
                    <i class="bi bi-heart-pulse"></i> Doctors
                </a>
            </li>

            <li class="nav-item mb-2">
                <a th:href="@{/admin/appointments}" class="nav-link text-white">
                    <i class="bi bi-calendar-check"></i> Appointments
                </a>
            </li>

            <li class="nav-item mb-2">
                <a th:href="@{/admin/consultations}" class="nav-link text-white">
                    <i class="bi bi-clipboard2-pulse"></i> Consultations
                </a>
            </li>

            <li class="nav-item mb-2">
                <a th:href="@{/admin/prescription}" class="nav-link text-white">
                    <i class="bi bi-capsule-pill"></i> Prescriptions
                </a>
            </li>

            <li class="nav-item mb-2">
                <a th:href="@{/admin/laboratories}" class="nav-link text-white">
                    <i class="bi bi-eyedropper"></i> Laboratory
                </a>
            </li>

            <li class="nav-item mb-2">
                <a th:href="@{/admin/billing}" class="nav-link text-white">
                    <i class="bi bi-receipt"></i> Billing
                </a>
            </li>

            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-capsule"></i> Pharmacy
                </a>
            </li>


            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-bar-chart"></i> Reports
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-gear"></i> Settings
                </a>
            </li>

        </ul>
    </div>

</div>

</body>
</html>